html {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Remove the navbar default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron default bottom margin */
.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

/* Add a gray background color and some padding to the footer */
footer {
    padding: 25px;
}

* {
    box-sizing: border-box;
}




